// :host {
//   display: flex;
//   width: 50vh;
// }

.card {
  width: 30vw;
}

::ng-deep .tooltip-inner {

  color: #000;
  background-color: #fff;

  .card {
    font-size: 1.0vh;
    text-align: center;
    min-width: 25vh;
  }
}
