<ngb-tabset>
  <ngb-tab title="Mechs">
    <ng-template ngbTabContent>
      <ul class="nav flex-column" *ngIf="mechList$ | async; let mechList; else noMechData">
        <li class="nav-item" *ngFor="let mechClass of mechList | keysOf">
          <strong>{{mechClass}}</strong>
          <tree-root [nodes]="mechList[mechClass]" [options]="options"></tree-root>
        </li>
      </ul>
      <ng-template #noMechData>
        <strong>No Mech Data</strong>
      </ng-template>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Weapons">
    <ng-template ngbTabContent>
      
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Equiptment">
    <ng-template ngbTabContent>
      
    </ng-template>
  </ngb-tab>
</ngb-tabset>
