<div class="card">

  <div class="card-header">
    <h3 class="card-title">{{mechwarrior.name}}</h3>
    <div class="card-options">
      <a (click)="onEdit()" class="card-options-collapse" data-toggle="card-collapse">
        <i class="fe fe-corner-up-left"></i>
      </a>
      <a (click)="onDeleteMechwarrior($event)" class="card-options-remove" data-toggle="card-remove">
        <i class="fe fe-x"></i>
      </a>
    </div>
  </div>

  <div class="card-body" *ngIf="editing; else viewing">
    <tm-mechwarrior-form (save)="onSave($event)" [mechwarrior]="mechwarrior" [skills]="skills"></tm-mechwarrior-form>
  </div>
  <ng-template #viewing>
    <div class="card">
      <div class="card-body">
        <p>{{mechwarrior.description}}</p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <strong>First Skill:</strong> {{mechwarrior?.skills?.first}}</div>
          <div class="col">
            <strong>Second Skill:</strong> {{mechwarrior?.skills?.second}}</div>
          <div class="col">
            <strong>Third Skill:</strong> {{mechwarrior?.skills?.third}}</div>
        </div>
      </div>

      <div class="card-body">
        <div class="container">
          <div class="row">
            <h3>Skills</h3>
          </div>
          <div class="row">
            <tm-skill-tree [editMode]="false" [skill]="skills.gunnery" [value]="mechwarrior?.stats?.gunnery"></tm-skill-tree>
            <tm-skill-tree [editMode]="false" [skill]="skills.piloting" [value]="mechwarrior?.stats?.piloting"></tm-skill-tree>
            <tm-skill-tree [editMode]="false" [skill]="skills.guts" [value]="mechwarrior?.stats?.guts"></tm-skill-tree>
            <tm-skill-tree [editMode]="false" [skill]="skills.tactics" [value]="mechwarrior?.stats?.tactics"></tm-skill-tree>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
